* {
  box-sizing: border-box;
}
body {
  background: #eee;
}
input[type=file] {
  width: 100%;
}
.panel {
  display: inline-block;
  width: 300px;
  margin-right: 10px;
  vertical-align: top;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.group > .label {
  width: 90px;
  flex: 0 0 90px;
}
.group {
  margin-bottom: .4em;
}
.input > * {
  width: 100%;
}
.input-labels {
  text-align-last: justify;
}
.tabs > * {
  display: inline-block;
}
.logo-header > * {
  display: inline-block;
  padding: .3em;
  border: 1px solid #aaa;
  border-bottom: none;
  background: #eee;
  color: gray;
  cursor: pointer;
}
.logo-header > .active {
  background: wheat;
  color: black;
}
.logo-body {
  display: block;
  padding: .4em;
  border: 1px solid #aaa;
  background: wheat;
}
