<!doctype html>
<html>
<head>
<title>QRCanvas</title>
<link rel="stylesheet" href="style.css">
<script src="https://unpkg.com/vue"></script>
<script src="qrcanvas.js"></script>
</head>
<body>
<a href="https://github.com/gera2ld/qrcanvas"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
<div id="app" style="display:none" v-show="true">
  <h1>QRCode Generator</h1>
  <div class="panel">
    <div class="group intro">
      <p>For more detail, see <a target="_blank" href="https://github.com/gera2ld/qrcanvas/wiki">Wiki</a>.</p>
      <p>For a great QRCode tool, see <a target="_blank" href="https://intellilab.github.io/transformers/url-builder/">Transformers</a>.</p>
    </div>
    <div class="group flex">
      <small class="label">Text:</small>
      <div class="input flex-1">
        <textarea v-model="settings.qrtext"></textarea>
      </div>
    </div>
    <div class="group flex">
      <small class="label">Size:</small>
      <div class="input flex-1">
        <input type="range" min="2" max="10" v-model="settings.cellSize">
      </div>
    </div>
    <div class="group flex">
      <small class="label">Correct level:</small>
      <div class="input flex-1">
        <input type="range" min="0" max="3" v-model="settings.correctLevel">
      </div>
    </div>
    <div class="group flex">
      <small class="label">Effect:</small>
      <div class="flex-1">
        <div v-for="effect in effects" class="input-group">
          <label>
            <input type="radio" v-model="settings.effect" :value="effect.value">
            {{ effect.title }}
          </label>
        </div>
        <div class="input" v-show="settings.effect">
          <input type="range" min="0" max="100" step="5" v-model="settings.effectValue">
          <div v-show="settings.effect==='spot'">
            <img src="iloveme.jpg" ref="effect">
            <input type="file" @change="loadImage($event,'effect')">
          </div>
        </div>
      </div>
    </div>
    <div class="group flex">
      <div class="label">
        <small>Colors:</small>
      </div>
      <div class="flex-1">
        <div class="group">
          <button v-for="theme in themes" v-text="theme" @click.prevent="loadTheme(theme)"></button>
        </div>
        <div class="input group">
          Foreground
          <input type="color" v-model="settings.colorFore">
        </div>
        <div class="input group">
          Background
          <input type="color" v-model="settings.colorBack">
        </div>
        <div class="input group">
          Outside-border
          <input type="color" v-model="settings.colorOut">
        </div>
        <div class="input group">
          Inside-border
          <input type="color" v-model="settings.colorIn">
        </div>
      </div>
    </div>
    <div class="group tabs">
      <label>
        <input type="checkbox" v-model="settings.logo">
        Add Logo
      </label>
      <div class="logo-header" v-show="settings.logo">
        <span @click="settings.logoType='image'" :class="{active:settings.logoType==='image'}">Image</span>
        <span @click="settings.logoType='text'" :class="{active:settings.logoType==='text'}">Text</span>
      </div>
      <div class="logo-body" v-show="settings.logo">
        <div class="tab" v-show="settings.logoType==='image'">
          <div class="group flex">
            <small class="label">Image:</small>
            <div class="flex-1">
              <img src="iloveme.jpg" ref="logo">
              <div class="input">
                <input id=fimg type=file @change="loadImage($event,'logo')">
              </div>
            </div>
          </div>
        </div>
        <div class="tab" v-show="settings.logoType==='text'">
          <div class="group flex">
            <small class="label">Text:</small>
            <div class="input flex-1">
              <input v-model="settings.logoText">
            </div>
          </div>
          <div class="group flex">
            <small class="label">Font:</small>
            <div class="input flex-1">
              <input placeholder="CSS font string" v-model="settings.logoFont">
            </div>
          </div>
          <div class="group">
            <label>Color: <input type="color" v-model="settings.logoColor"></label>
            <label><input type="checkbox" v-model="settings.logoBold">Bold</label>
            <label><input type="checkbox" v-model="settings.logoItalic">Italic</label>
          </div>
        </div>
        <div class="group flex">
          <small class="label">Size:</small>
          <div class="input flex-1">
            <input type="range" min="5" max="20" v-model="settings.logoSize">
          </div>
        </div>
        <div class="group flex">
          <small class="label">Clear edges:</small>
          <div class="input flex-1">
            <input type="range" min="0" max="3" v-model="settings.logoClearEdges">
          </div>
        </div>
        <div class="group flex">
          <small class="label">Margin:</small>
          <div class="input flex-1">
            <input type="range" min="0" max="10" v-model="settings.logoMargin">
          </div>
        </div>
      </div>
    </div>
  </div>
  <qr-canvas :options="options"></qr-canvas>
</div>
<script src="index.js"></script>
</body>
</html>
